 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>As a IT Professional Daniel has worked with leading companies for many years. He is experienced in digitalization for startups and big players.</p>
                </div>
                <div class="col-lg-4">
                    <p>As a Consultant he will support you to increase your value in the digital realm or build your Cloud via Infrastructure as Code and CI/CD</p>
                </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
